html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header {
    border-bottom: 1px solid #ebebeb;
}

.toptop {
    display: flex;
}

.logoimg {
    padding: 20px 30px;
    width: 92px;
}

.bar {
    flex: 3;
    margin-top: 15px;
}

input {
    width: 652px;
    border-radius: 24px;
    height: 44px;
    padding-left: 14px;
    font-size: 14px;
}

input::placeholder {
    color: black;
}

input:hover {
    box-shadow:0px 0px 8px #888888;
    border-radius: 24px;
}

.fa-times {
    position: absolute;
    margin-left: -100px;
    top: 36px;
    color: #5F6368;
    font-size: 20px;
    padding-right: 10px;
    border-right: 1px solid #5F6368;
}

.fa-microphone {
    position: absolute;
    margin-left: -60px;
    top: 36px;
    color: dodgerblue;
    font-size: 20px;
    left: 810px;
}

form .fa-search {
    position: absolute;
    margin-left: -35px;
    top: 36px;
    color: dodgerblue;
    font-size: 20px;
    left: 810px;
    /* Why can I use the left: 760px for both fa-microphone and search and they don't overlap? */
}

.user {
    flex: 0 1 100px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.usergrid {
    flex: 1;
    height: 30px;
    width: 30px;
    margin-top: 10px;
}

.userimgdiv {
    flex: 1;
    height: 30px;
    width: 30px;
}

.user a {
    color: #5F6368;
}

.user a:hover {
    background-color: #ebebeb;
    border-radius: 50%;
    padding: 10px;
}

.userimg {
    height: 20px;
}

.nav {
    list-style-type: none;
    display: flex;
    margin-left: 159px;
    margin-bottom: 0;
}

.nav li {
    margin-right: 50px;
    margin-left: -30px;
}

.nav i {
    display: inline;
    margin-right: 5px;
}

.active {
    border-bottom: 3px solid rgb(26, 115, 232);
    padding-bottom: 12px;
}

.navr {
    padding-left: 70px;
}

.nav a {
    text-decoration: none;
    color: #5F6368;
}

.tools a:hover {
    background-color: lightgray;
    padding: 5px 10px;
    border: 1px solid gray;
}

#main {
    width: 800px;
}

main a {
    text-decoration: none;
    color: #1A0DAB;
}

.results {
    padding-top: 10px;
    max-width: 833px;
    margin-left: 164px;
}

.about {
    color: rgb(112, 117, 122);
    font-size: 14px;
}

.res1,
.res2,
.res3,
.res4,
.res5,
.res6 {
    padding: 20px 0;
}

a {
    cursor: pointer;
}

.src,
.resdes,
p {
    line-height: 20px;
    margin: 0;
}

.restitle {
    font-size: 20px;
    color: rgb(26, 13, 171);
    line-height: 26px;
    margin-bottom: 3px;
}

.restitle a:hover{
    text-decoration: underline;
}

.videos {
    display: inline-flex;
    justify-content: space-between;
    width: 652px;
}

.vid1,
.vid2,
.vid3 {
    border: 1px solid #ebebeb;
    border-radius: 8px;
    width: 211px;
}

iframe {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 211px;
    height: 120px;
}

h2 {
    font-weight: 200;
}

h3 {
    font-size: 20px;
    margin: 5px;
    font-weight: 400;
}

.subtitle {
    height: 90px;
    margin:0 10px;
}

.subtitle a:hover {
    text-decoration-line: underline;
}

.vidfoot {
    position: relative;
    display: flex;
    height: 70px;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 15px;
    color: #808080;
}

strong {
    color: black;
    font-weight: 100;
}

.alsoask {
    width: 652px;
}

.alsoask h2 {
    border: solid 1px #ebebeb;
    padding: 9px 16px;
    margin-bottom: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.alsoask p {
    border: solid 1px rgb(229, 229, 229);
    font-size: 16px;
    line-height: 25px;
    padding: 9px 40px 9px 16px;
}

.alsoask a {
    color: #5F6368;
}

.alsoask .fa-caret-down {
    color: #70757A;
    position: absolute;
    left: 800px;
}

.cap {
    font-size: 11px;
    text-align: right;
    font-style: italic;
    color: rgb(112, 117, 122);
}

.searchp {
    font-size: 20px;
    padding-top: 20px;
}

.searches {
    display: flex;
    width: 652px;
}

.searchrel li {
    list-style-type: none;
    padding: 5px 32px 5px 0;
    margin-left: -35px;
    font-weight: 600;
}

.searchrel a:hover {
    text-decoration-line: underline;
}

.gooo {
    text-align: center;
    margin: 10px;
}

.gooo table {
    margin: 0 auto;
}

.goooimg {
    height: 39px;
}

.fa-caret-right {
    position: relative;
    top: -15px;
    padding-left: 15px;
}

.gooo td {
    padding: 5px;
}

.next {
    margin-left: 20px;
}

.gooo a {
    color: rgb(66, 133, 244);
}

.gooo a:hover {
    text-decoration-line: underline;
}

footer {
    line-height: 40px;
    background-color: rgb(242, 242, 242);
    width: 100%;
}

footer p {
    margin-left: 164px;
}

footer ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 122px;
}

footer a {
    text-decoration: none;
    color: #5F6368;
}

.fa-circle {
    color: #5F6368;
    margin-right: 5px;
}